.spacer{
    flex: 1 1 auto;
}
.logo
{
    height: 50%;
    width: 2%;
}
.nav{
    background-color:black ;
}
.links{
    color:whitesmoke;
}

    a {
        text-decoration: none ;
     }
   a:hover
     {
       color:white;
       text-decoration:none;
       cursor:pointer;
      }
.login:hover{
    color:black;
       text-decoration:none;
       cursor:pointer;

}
.logo-name{
    color: whitesmoke;
}